.btn-primary{
    width: 100%;
    background-color: #068df5;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #3772ad; /* Darker shade of blue on hover */
}

.btn-warning{
    width: 100%;
    background-color: #f50606;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
}

.btn-warning:hover {
    background-color: #ae0404; /* Darker shade of red on hover */
}